.duoc-nav{
    background-color: black;
}
.nav-btn:hover{
    background-color: rgba(167, 136, 0, 0.685);

}
.nav-btn{
    padding: 8px;
    transition: .2s;
}

.imagenduoc{
    height: 58px;
}

.navtext{
    color: var(--duoc-primary-color);
}