.cardmemo {
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.cardmemo:hover {
  transform: translateY(-5px);
  box-shadow:  
    0 10px 20px rgba(0, 0, 0, 0.3),
    0 6px 6px rgba(0, 0, 0, 0.4);
}
