:root{
    --color-pe:rgb(255, 208, 0)
}
.duoc-item:first-child {
margin-left: 10px;
}
.duoc-item:last-child{
margin-right: 10px;
}
.miracaezon:checked + .ellabel{
    background-color: var(--color-pe);
}

.ellabel{
    border: 2px solid var(--color-pe);
    transition: .2s;
}
.ellabel:hover{
 background-color: var(--color-pe);
}

.miracaezon{
    display: none;
}